[Unit]
Description=Temperature Monitoring Daemon

[Service]
Type=forking
Restart=always
PIDFile=/run/tempMon.pid
ExecStart=/usr/sbin/tempMon --start

[Install]
WantedBy=multi-user.target
